/* Manpower Stylesheet


/* font-family: '  montserratbold '; */
@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold-webfont.eot');
    src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-bold-webfont.woff') format('woff'),
         url('../fonts/montserrat-bold-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* font-family: '  montserrathairline  '; */
@font-face {
    font-family: 'montserrathairline';
    src: url('../fonts/montserrat-hairline-webfont.eot');
    src: url('../fonts/montserrat-hairline-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-hairline-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-hairline-webfont.woff') format('woff'),
         url('../fonts/montserrat-hairline-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-hairline-webfont.svg#montserrathairline') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* font-family: '  montserratlight  '; */
@font-face {
    font-family: 'montserratlight';
    src: url('../fonts/montserrat-light-webfont.eot');
    src: url('../fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-light-webfont.woff') format('woff'),
         url('../fonts/montserrat-light-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* font-family: '  montserratregular  '; */
@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.eot');
    src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff'),
         url('../fonts/montserrat-regular-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Colors
 -Green   =    #6e9082
 -Red     =    #A13841
 -Orange  =    #e87c22
 -Lt Blue =    #5B8DBA
 -Blue    =    #3E639B
 -Lt Grey =    #F4F8F6
 -Gray    =    #383839

    */




body {
 font-family: "montserratregular", sans-serif;
 letter-spacing: 1.4px;
}

a {
  opacity: 1.0;
  color: #A1A1A1;
}

a:hover {
  opacity: 0.9;
}

.container {
  overflow: hidden !important;
}

.btn-primary:focus, .btn-primary:hover {
  outline: none !important;
}

/* ------------

INCLUDES Styles 

-------------- */

  /* Banner */
  section.banner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  section.banner img {
    width: 100%;
    height: auto;
  }
  section.banner .overlay {
    z-index: 2;
    width: 100%;
    position: absolute;
    top: 16%;
  }
  section.banner .overlay .center {
    margin: 0px auto;
  }
  section.banner .overlay h2 {
    color: #F4F8F6;
    font-family: "montserratlight";
    font-size: 40px;
    line-height: 1.6;
    padding-bottom: 30px;
  }
  section.banner .overlay h2.mobile-overlay {
    display: none;
  }
  section.banner .overlay .col-xs-12 a {
    color: #fff;
    font-family: "montserratlight";
    font-size: 16px;
    display: block;
    border: 1px solid #fff;
    border-radius: 4px;
    padding-top: 18px;
    width: 100%;
    height: 80px;
    text-align: center;
    background-color: rgba(255,255,255,0.0);
  }
  section.banner .overlay .col-xs-12 a:hover {
    text-decoration: none;
    background-color: rgba(255,255,255,0.1);
  }

/*---- HEADER ----*/
  nav.navbar-default {
    height: 110px;
    background-color: #fff;
    border: none;
  }
  /* Brand */
  nav.navbar-default a.navbar-brand {
    height: auto;
    padding-left: 60px;
  }
  nav.navbar-default a.navbar-brand img.logo {
    padding-top: 15px;
  }
      /* Mobile logo hide */
  img.logo-mobile {
    display: none;
  }
  /* Top Bar */
  nav.navbar-default .top {
    float: right;
  }
  nav.navbar-default .top ul {
    list-style-type: none;
  }
  nav.navbar-default .top ul > li {
    display: inline;
    padding-right: 6px;
    color: #777;
  }
  nav.navbar-default .top ul > li.top-phone {
    line-height: 2px;
  }
  nav.navbar-default .top ul > li.top-phone > img {
    
  }
  nav.navbar-default .top ul > li.top-phone p {
    padding-top: 20px;
    display: inline-block;
  }

  nav.navbar-default .top ul > li > a >img {
    opacity: 1.0;
  }
  nav.navbar-default .top ul > li > a:hover >img {
    opacity: 0.8;
  }
    /* econnect button */
  nav.navbar-default .top ul li:last-child {
    background-color: #6e9082;
    padding: 20px 30px 10px 30px;
    line-height: 3;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  nav.navbar-default .top ul li:last-child a {
    color: #fff;
    opacity: 1.0;
    text-transform: uppercase;
    text-decoration: none;
  }
  nav.navbar-default .top ul li:last-child a:hover {
    opacity: 0.8;
  }

/*---- NAVIGATION ----*/
  /* Container=Overflow:hidden OVERWRITE SO THAT DROP DOWN MENUS WILL GO OUTSIDE OF THE PARENT "iv class="container */
  .navbar-default .container.hide-on-collapse {
    overflow: visible !important; 
  }


  ul.navbar-nav, ul.navbar-right {
    margin-top: 0px;
    float: right;
  }
  
  .navbar-nav>li>a {
    padding: 0px !important;
    margin: 15px;
  }
  /* overwrite defaults */
  .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #fff;
    color: #e87c22;
  }
  /* overwrite ACTIVE link styles*/
  nav.navbar-default ul.navbar-nav > li.active > a
   {
    background-color: transparent;
    color: #e87c22;
  }
  nav.navbar-default ul.navbar-nav > li.active > a:hover {
    background-color: transparent;
    color: #e87c22;
  }
  /* current parent of active page*/
  nav.navbar-default ul.navbar-nav > li.current_page_parent a {
    color: #e87c22;
  }
  nav.navbar-default ul.navbar-nav > li.current_page_parent ul.dropdown-menu > li > a {
    color: #777;
  }
  nav.navbar-default ul.navbar-nav > li.current_page_parent ul.dropdown-menu > li > a:hover {
    background-color: transparent;
    color: #e87c22;
  }
  /* current page in dropdown */
  nav.navbar-default ul.navbar-nav > li.current_page_parent ul.dropdown-menu li.current_page_item a {
    color: #5B8DBA;
  }
  nav.navbar-default ul.navbar-nav > li.current_page_parent ul.dropdown-menu li.current_page_item a:hover {
    color: #e87c22;
  }



    /* clear float */
  .menu-main-nav-container {
    clear: right;
  }
  ul.navbar-nav li a {
    text-transform: uppercase;
    color: #383839;
  }

  ul.navbar-nav li.active a {
    background-color: transparent;
  }
  nav.navbar-default ul.navbar-nav>li>a:hover {
    color: #e87c22;
  }
  /* dropdown menus */
  ul.dropdown-menu {
    border: none;
    box-shadow: none;
    background-color: rgba(255,255,255,0.9);
    
  }
  ul.dropdown-menu li a {
    text-transform: none;
    color: #383839;
  }
  ul.dropdown-menu > li > a:hover {
    background-color: transparent;
    color: #5B8DBA;
  }
  /* Search */
  form.navbar-form .form-group {
    display: none;
  }




/*---- FOOTER ----*/
  section.footer {
    padding: 60px 0px;
  }
  section.footer a {
    opacity: 1.0;
  }
  section.footer a:hover {
    opacity: 0.8;
    color: #A1A1A1;
    text-decoration: none;
  }
  section.footer .col-sm-4 {
    /* Border to left-column */
    padding-right: 40px;
    border-right: 1px solid rgba(0,0,0,0.1);
  }

  /* Associates Links */
  .col-xs-6 p:first-child {
    text-transform: uppercase;
    color: #383839;
    margin-bottom: 4px;
  }
  ul.associates-links {
    list-style-type: none;
    color: #A1A1A1;
    margin-left: -40px;
    font-size: 13px;
    font-weight: ligher;
  }
  ul.associates-links li {
    margin-bottom: 4px;
  }
  ul.site-links {
    list-style-type: none;
    text-transform: uppercase;
  }
  ul.site-links > li > a {
    color: #383839;
    opacity: 1.0;
  }
  ul.site-links > li > a:hover {
    opacity: 0.9;
  }
  .richmond-address p {
    width: 100%;
    display: block;
    color: #A1A1A1;
    font-size: 13px;
  }
  .richmond-address p strong {
    color: #383839;
    font-size: 14px;
    text-transform: uppercase; 
  }
  .portland-address p {
    width: 100%;
    display: block;
    color: #A1A1A1;
    font-size: 13px;
  }
  .portland-address p strong {
    color: #383839;
    font-size: 14px;
    text-transform: uppercase;
  }

/* ------ SubFooter */
  footer.site-footer {
    background-color: #383839;
    padding: 15px 0px 5px 0px;
  }
  footer.site-footer p {
    color: #A1A1A1;
  }
  footer.site-footer p.copyright {
    font-size: 13px;
    text-align: left;
  }
  footer.site-footer a {
    opacity: 1.0;
  }
  footer.site-footer a:hover {
    opacity: 0.9;
    text-decoration: none;
    color: #A1A1A1;
  }
  footer.site-footer .site-sub-footer {
    padding-left: 0px;
    padding-right: 0px;
  }
  footer.site-footer .sub-footer-links p {
    padding-left: 15px;
    float: right;
  }




/* ------------

FRONT-PAGE template Styles 

-------------- */


  /* Quick Buttons - Three Column */
  .three {
    text-align: center;
    padding: 60px 0px;
    color: #707070;
  }
  .three h3 {
    text-transform: uppercase;
    color: #404040; 
  }
  .three p {
    width: 60%;
    margin: 0px auto;
    display: block;
  }

  /* Map section */
  section.map {
    background-color: #F4F8F6;
    height: 500px;
    overflow: hidden;
  }
  section.map .map-wrap {
    position: relative;
  }
  section.map .circle-wrap {
    position: absolute;
    left: 29%;
    top: 44px;
  }
  section.map .circle-wrap h3 {
    color: #404040;
    text-transform: uppercase;
    text-align: center;
  }
  section.map .circle-wrap p {
    color: #707070;
    text-transform: lowercase;
    text-align: center;
    width: 200px;
    margin: 0px auto;
    margin-bottom: 20px;
    display: block;
  }

  /*---- COUNTIES ----*/
  section.map .counties-wrap {
    position: absolute;
    left: 51%;
    width: 220px;
    height: 400px;
  }
  section.map .counties-wrap .counties {
    position: relative;
    margin-top: 100px;
  }
  section.map .counties-wrap .counties a.county-shapes  {
    position: absolute;
    display: block;
    opacity: 1.0;
  }

  section.map .counties-wrap .counties a.county-shapes img {
    width: 98%;
    transition: width linear 80ms;
    -webkit-transition: width linear 80ms;
  }
  /* county-shapes hover */
  section.map .counties-wrap .counties a.county-shapes:hover img {
    width: 100%;
  }
/* ---- INDIVIDUAL COUNTY SHAPES/BUTTONS ---- */
  /* blackford county */
  section.map .counties-wrap .counties a.county-shapes:nth-child(1){
    top: 0;
    left: 0;
    z-index: 2;
  }
  /* jay county */
  section.map .counties-wrap .counties a.county-shapes:nth-child(2) {
    top: -3px;
    left: 54px;
    z-index: 3;
  }
  /* randolph county */
  section.map .counties-wrap .counties a.county-shapes:nth-child(3) {
    top: 78px;
    left: 54px;
    z-index: 4;
  }
  /* wayne county */
  section.map .counties-wrap .counties a.county-shapes:nth-child(4) {
    top: 174px;
    left: 55px;
    z-index: 5;
  }
  /* henry county */
  section.map .counties-wrap .counties a.county-shapes:nth-child(5) {
    top: 153px;
    left: -36px;
    z-index: 6;
  }
  /* fayette county */
  section.map .counties-wrap .counties a.county-shapes:nth-child(6) {
    top: 244px;
    left: 36px;
    z-index: 7;
  }
  /* union county */
  section.map .counties-wrap .counties a.county-shapes:nth-child(7) {
    top: 262px;
    left: 101px;
    z-index: 8;
  }





/* ------------

PAGE- template Styles 

-------------- */

  /* Page Title Banners */
  .banner {
    height: 230px;
  }
    /* e-connect & about */
    .banner.e-connect, .banner.about {
      background-color: #6e9082;
    }
    .e-connect h2.text-center, .about h2.text-center {
      margin-top: 96px;
      color: #fff;
      letter-spacing: 3px;
    }
    /* our-services */
    .banner.our-services {
      background-color: #e87c22;
    }
    .our-services h2.text-center {
      margin-top: 96px;
      color: #fff;
      letter-spacing: 3px;
    }
    /* associate testimonials */
    .banner.associate-testimonials {
      background-color: #5B8DBA;
    }
    .associate-testimonials h2.text-center {
      margin-top: 96px;
      color: #fff;
      letter-spacing: 3px;
    }
    
    /* job-resources */
    .banner.job-resources {
      background-color: #3E639B;
    }
    .job-resources h2.text-center {
      margin-top: 96px;
      color: #fff;
      letter-spacing: 3px;
    }
    
    /* staff/team */
    .banner.our-team {
      background-color: #69aac4;
    }
    .banner.our-team h2.text-center {
      margin-top: 96px;
      color: #fff;
      letter-spacing: 3px;
    }
    /* contact */
    .banner.contact {
      background-color: #A13841;
    }
    .banner.contact h2.text-center {
      margin-top: 96px;
      color: #fff;
      letter-spacing: 3px;
    }
    /* clients */
    .banner.clients {
      background-color: #3E639B;
    }
    .banner.clients h2.text-center {
      margin-top: 96px;
      color: #fff;
      letter-spacing: 3px;
    }
    /* downloads */
    .banner.downloads {
      background-color: #A13841;
    }
    .banner.downloads h2.text-center {
      margin-top: 96px;
      color: #fff;
      letter-spacing: 3px;
    }
    /* terms & conditions */
    .banner.terms-conditions {
      background-color: #666;
    }
    .banner.terms-conditions h2.text-center {
      margin-top: 96px;
      color: #fff;
      letter-spacing: 3px;
    }
    /* terms & conditions */
    .banner.terms-conditions {
      background-color: #666;
    }
    .banner.terms-conditions h2.text-center {
      margin-top: 96px;
      color: #fff;
      letter-spacing: 3px;
    }
    /* privacy-policy */
    .banner.privacy-policy {
      background-color: #666;
    }
    .banner.privacy-policy h2.text-center {
      margin-top: 96px;
      color: #fff;
      letter-spacing: 3px;
    }



/* ------------

PAGE-about template Styles 

-------------- */
.about-content {
  padding-bottom: 40px;
}
.about-content h2 {
  text-align: center;
  font-family: "montserratlight";
  color: #e87c22;
  padding: 30px 0px 22px 0px;
}

.about-content p {
  line-height: 2;
  font-family: "montserratlight";
  color: #777;
  text-align: center;
}

/* mpr video */
.mpr-vid iframe {
  width: 100% !important;
}




/* ------------

PAGE-our-services template Styles 

-------------- */
.narrow {
  padding-left: 0px;
}
.our-services-content {
  padding: 80px 0px;
}
/* Left Column */
.our-services-content article {
  border-right: 1px solid rgba(0,0,0,0.1);
}
.our-services-content article p {
  padding-right: 20px;
}
.our-services-content article p:nth-child(1) {
  font-family: "montserratlight";
  font-size: 24px;
  color: #777;
  padding-top: 20px;
}
/* Orange text */
.our-services-content article p strong {
  font-family: "montserratlight";
  font-size: 24px;
  color: #e87c22;
}

/* Right Column */
.our-services-content p.side-service:nth-child(1) {
  padding: 24px 0px 10px 60px;
  color: #777;
}

.our-services-content p.side-service {
  padding: 0px 0px 10px 60px;
  color: #777;

}

/* Full Service Loop */
.full-service {
  width: 100%;
  padding-top: 40px;
  background-color: #f5faf8;
}
.full-service .container {
  padding-left: 0px;
  padding-right: 0px;
}
.full-service .container .narrow {
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.services .full-service:last-child .narrow {
  padding-bottom: 40px;
  border-bottom: none;
}
.full-service h4 {
  color: #e87c22;
  font-family: "montserratregular";
  font-size: 24px;
}
.full-service p {
  color: #777;
  font-family: "montserratlight";
  letter-spacing: 1px;
  font-size: 15px;
}
.full-service a:hover {
  text-decoration: none;
  color: #777;
  cursor: pointer !important;
}




/* ------------

PAGE-testimonials template Styles 

-------------- */

.testimonials-content {
  padding: 80px 0px;
}
.testimonial-row {
  padding: 20px 0 30px 0;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.testimonial-row:last-child {
  padding: 20px 0 30px 0;
  margin-bottom: 40px;
  border-bottom: none;
}
.testimonial-row:first-child {
  padding-top: 0px;
}
.testimonial-row .circle {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.1);
  overflow: hidden;
  margin: 0px auto;
}
.testimonial-row .circle img {
  text-align: center;
  width: 100%;
  height: 100%;
}
.testimonial-row p.quote {
  font-family: "montserratlight";
  font-size: 20px;
  color: #777;
  padding-bottom: 30px;
}
/* Odd row */
.testimonial-row p.text-right strong {
  font-family: "montserratregular";
  font-size: 16px;
  color: #777;
  text-transform: uppercase;
}
.testimonial-row p.text-right {
  font-family: "montserratlight";
  font-size: 15px;
  color: #777;
}
/* Even row */
.testimonial-row p.text-left strong {
  font-family: "montserratregular";
  font-size: 16px;
  color: #777;
  text-transform: uppercase;

}
.testimonial-row p.text-left {
  font-family: "montserratlight";
  font-size: 15px;
  color: #777;
}

/* Share Your Story */
.share-your-story {
  background-color: #E4EBF6;
  padding: 40px 0px;
}
.share-your-story h4 {
  font-size: 44px;
  color: #5B8DBA;
  font-family: "montserratregular";
  padding-top: 40px;
  padding-left: 40px;
  margin: 0px;
}
.share-your-story p {
  color: #777;
  font-size: 20px;
  font-family: "montserratlight";
  padding-top: 20px;
  padding-left: 40px;
}

.share-your-story .gform_wrapper {
  margin: 0px;
}
.gform_wrapper .top_label .gfield_label {
  color: #777;
  text-transform: uppercase;
  font-family: "montserratregular";
  margin-bottom: 4px !important;
}
.gform_wrapper label.gfield_label+div.ginput_container {
  margin-top: 0px !important;
}
.share-your-story .gform_wrapper li#field_1_1 {
  clear: none !important;
  float: left;
  width: 50%;
}
.share-your-story .gform_wrapper li#field_1_2 {
  clear: none !important;
  float: left;
  width: 50%;
}

.gform_wrapper .top_label input.medium {
  width: 90% !important;
}

.gform_wrapper .gform_footer input.button {
  width: 97.5% !important;
  background-color: #5B8DBA;
  text-transform: uppercase; 
}
.gform_wrapper .gform_footer input.button:hover {
  width: 97.5% !important;
  background-color: #3E639B;
  text-transform: uppercase;
}





/* ------------

PAGE-our-team template Styles 

-------------- */

.our-team .member-grid {
  padding-top: 50px;
  position: relative;
  z-index: 2;
}
.our-team .member-block {
  padding-top: 30px;
}
.our-team .member-block img.team-pic {
  border: 1px solid rgba(0,0,0,0.1);
}
.our-team .member-block .member-name {
  color: #e87c22;
  font-size: 20px;
  font-family: "montserratlight";
  margin: 10px 0px 0 0;
}
.our-team .member-block .member-title {
  color: #777;
  font-size: 17px;
  font-family: "montserratlight";
}
.our-team .member-block button.btn {
  background-color: transparent;
  border: none;
  color: #666;
  font-family: "montserratregular";
  text-transform: uppercase;
  font-size: 16px;
  padding: 0px;
}
.our-team .member-block button.btn:hover {
  color: #333;
}
.our-team .member-block .bio-overlay {
  z-index: 3;
  position: absolute;
}
.our-team .member-block .bio-overlay .well {
  font-size: 10px;
  font-family: "montserratlight";
  color: #666;
  background-color: rgba(255,255,255,0.8);
}
.our-team .member-block .bio-overlay .well p {
  text-transform: none;
}

/* group image */
.group-picture {
  padding-top: 60px;
  height: 600px;
  min-height: 600px;
  overflow: hidden;
}
.group-picture img {
  width: 100%;
  height: auto;
}






/* ------------

Counties template Styles 

-------------- */


/* County Banner */
.banner {
  overflow: hidden;
}
.banner img.county-banner {
  width: 100%;
}

/* County Introduction */
.county-intro {
  padding: 60px 0px;
}
.county-intro h1 {
  color: #5B8DBA;
  font-family: "montserratlight";
  text-align: center;
  margin: 0px;
  margin-bottom: 30px;
}
.county-intro article.page {
  margin-bottom: 0px !important;
}
.county-intro article.page p {
  display: block;
  margin: 0px auto;
  width: 80%;
  color: #777;
  font-family: "montserratlight";
  font-size: 15px;
  line-height: 2;
}

/* County Statistics */
.statistics {
  background-color: #e87c22;
  color: #fff;
  padding: 30px 0px 40px 0px;
  text-align: center;
  font-family: "montserratlight";
}
.statistics h2.stats {
  font-size: 52px;
  margin-bottom: 0px;
}
.statistics p {
  font-family: "montserratlight";
  font-size: 15px;
}


/* Successful Associates Slider */
.successful-associates {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.slick-slider {
  margin-bottom: 0px !important;
}
h2.successful-associates-title {
  color: #5B8DBA;
  font-family: "montserratlight";
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 36px;
}
.successful-associates .slick-slide img {
  margin: 0px auto;
  width: 85%;
}
.successful-associates .slick-slide .associate-quote {
  font-size: 24px;
  color: #777;
  font-family: "montserrathairline";
}
.successful-associates .slick-slide p.associate-name {
  font-family: "montserratlight";
  font-size: 20px;
  color: #777;
}
.successful-associates .slick-slide p.associate-title {
  font-family: "montserratlight";
  font-size: 18px;
  color: #999;
}

/* Our Clients */
.our-clients {
  background-color: #6e9082;
  color: #fff;
  font-family: "montserratlight";
  padding: 20px 0px;
}
.our-clients h2 {
  font-family: "montserrathairline";
  font-size: 42px;
  margin: 10px 0px 20px 0px;
}
.our-clients ul {
  list-style-type: none;
  text-align: center;
}
.our-clients ul li {
  font-family: "montserrathairline";
  display: inline;
  padding-right: 15px;
  margin-right: 15px;
  border-right: 1px solid rgba(255,255,255,0.5);
}
.our-clients ul li:last-child {
  border-right: none;
}
.our-clients ul li a {
  color: #fff;
  opacity: 1.0;
  font-family: "montserrathairline";
  font-size: 15px;
}
.our-clients ul li a:hover {
  opacity: 0.8;  
  text-decoration: none;
}


/* Search Jobs in COUNTY */
.search-jobs {
  padding: 60px 0px;
}
a.search-jobs-button {
  display: block;
  margin: 0px auto;
  border: 2px solid #e87c22;
  border-radius: 4px;
  padding: 15px 5px;
  color: #e87c22;
  font-family: "montserratregular";
  font-size: 18px;
  width: 30%;
}
a.search-jobs-button:hover {
  background-color: #e87c22;
  color: #fff;
  text-decoration: none;
}


/* Find Out More */
.find-out-more {
  background-color: #5B8DBA;
  color: #fff;
  font-family: "montserratlight";
  padding: 20px 0px;
}
.find-out-more h2 {
  font-family: "montserrathairline";
  font-size: 42px;
  margin: 10px 0px 20px 0px;
}
.find-out-more ul {
  list-style-type: none;
  text-align: center;
}
.find-out-more ul li {
  display: inline;
  padding-right: 15px;
  margin-right: 15px;
  border-right: 1px solid rgba(255,255,255,0.5);
}
.find-out-more ul li:last-child {
  border-right: none;
}
.find-out-more ul li a {
  font-size: 15px;
  color: #fff;
  opacity: 1.0;
  font-family: "montserrathairline";
}
.find-out-more ul li a:hover {
  opacity: 0.8;
  text-decoration: none;
}


/* ------------

PAGE-contact template Styles 

-------------- */

/* Richmond */
  .contact-richmond {
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
    padding: 20px 0px;
    margin: 60px 0px;
  }
  .contact-richmond h4{
    color: #777;
    text-transform: uppercase;
    font-size: 28px;
    font-family: "montserratlight";
  }
  .contact-richmond h4 strong {
    color: #5B8DBA;
    font-family: "montserratregular";
  }
  .contact-richmond p.phone {
    font-size: 24px;
    font-family: 'montserratbold';
    color: #666;
    padding-top: 10px;
  }
  .contact-richmond p.address {
    font-size: 22px;
    font-family: "montserratregular";
    color: #666;
    padding-top: 10px;
    line-height: 1.0;
  }
  .contact-richmond p.address span {
    font-size: 28px;
  }
/* Portland */
  .contact-portland {
    text-align: center;
    padding: 20px 0px;
    margin: 60px 0px;
  }
  .contact-portland h4{
    color: #777;
    text-transform: uppercase;
    font-size: 28px;
    font-family: "montserratlight";
  }
  .contact-portland h4 strong {
    color: #e87c22;
    font-family: "montserratregular";
  }
  .contact-portland p.phone {
    font-size: 24px;
    font-family: 'montserratbold';
    color: #666;
    padding-top: 10px;
  }
  .contact-portland p.address {
    font-size: 22px;
    font-family: "montserratregular";
    color: #666;
    padding-top: 10px;
    line-height: 1.0;
  }
  .contact-portland p.address span {
    font-size: 28px;
  }

/* Contact Form (gravity forms) */
.contact-form {
  background-color:#f5faf8;
}
.contact-form h3.contact-us {
  font-size: 32px;
  font-family: "montserratlight";
  text-align: center;
  color: #666;
  padding-top: 20px;
}
.contact-content {
  width: 70%;
  margin: 0px auto;
}





/* ------------

PAGE-job-resources template Styles 

-------------- */

#content article {
  margin-bottom: 10px !important;
}
.job-resources-content {
  padding: 40px 0px 20px 0px;
}
.job-resources-content p {
  line-height: 2;
  font-family: "montserratlight";
  color: #777;
  text-align: center;
  width: 80%;
  margin: 0px auto;
} 
.job-resources-content p:first-child {
  padding-bottom: 20px;
}
/* Job Statistics */
.job-statistics {
  background-color: #e87c22;
  padding: 40px 15px 60px 15px;
}
.job-statistics h4 {
  font-size: 32px;
  color: #fff;
  text-align: center;
  font-family: "montserratlight";
  padding-bottom: 20px;
}
.job-statistics p.percentage {
  text-align: center;
  font-size: 52px;
  font-family: "montserratregular";
  padding: 20px 0px 10px 0px;
  margin-bottom: 0px;
}
.job-statistics .stats-1 p.percentage {
  color: #A13841;
}
.job-statistics .stats-2 p.percentage {
  color: #3E639B;
}
.job-statistics .stats-3 p.percentage {
  color: #5B8DBA;
}
.job-statistics p.description {
  text-align: center;
  font-size: 16px;
  font-family: "montserratlight";
  color: #fff;
  width: 65%;
  margin: 0px auto;
}

/* JOB TIPS */
.job-tips .job-tips-tabs {
  margin: 0px auto;
}
.job-tips .job-tips-tabs h4 {
  font-size: 32px;
  color: #666;
  text-align: center;
  font-family: "montserratlight";
  padding: 40px 0px 20px 0px;
}v
.job-tips .job-tips-tabs .panel-group {
  border-top: none !important;
  border-bottom: none !important;
  padding-bottom: 40px;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
  border: none;
}
.job-tips .job-tips-tabs .panel-group .panel {
  border: none;
  -webkit-box-shadow: none;
}
.job-tips .job-tips-tabs .panel-group .panel:last-child {
  border-bottom: 0px;
}



/* Open Panel (collapsed panel) */
.job-tips .job-tips-tabs .panel-group .panel .panel-collapse {
  background-color: rgba(200,200,200,0.1);
}

.job-tips .job-tips-tabs .panel-group .panel .panel-collapse ul>li {
  font-size: 16px;
  font-family: "montserratregular";
  color: #e87c22;
}
.job-tips .job-tips-tabs .panel-group .panel .panel-collapse ul > li > ul.second > li {
  color: #777;
  font-size: 14px;
  font-family: "montserratlight";
}
/* Top Interview Questions */
.job-tips h4.top-questions-title {
  padding-top: 10px;
}
.job-tips ul.top-questions li strong {
  color: #777;
  font-size: 14px;
  font-family: "montserratlight";
}





/* Dos & Donts */
.dos-donts {
  padding: 40px 15px;
  background-color: #f5faf8;
}
.dos-donts .col-xs-12 h4 {
  text-align: center;
  font-size: 32px;
  color: #666;
  text-transform: uppercase;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255,255,255,0.4);
}
.dos-donts h4 span.dos {
  color: #6e9082;
  font-size: 40px;
}
.dos-donts h4 span.donts {
  color: #A13841;
  font-size: 40px;
}
.dos-donts .col-xs-12 ul {
  padding-left: 0px !important;
  display: block;
  margin: 0px auto;
  text-align: center;
  list-style-type: none;
}
.dos-donts .col-xs-12 ul li {
  color: #666;
  font-family: "montserratlight";
  font-size: 16px;
  padding: 4px
}




/* ------------

PAGE-clients template Styles 

-------------- */
/* Clients form */
.clients-content {
  padding-bottom: 30px;
}
.clients-content h2 {
  text-align: center;
  font-family: "montserratlight";
  color: #e87c22;
  padding: 30px 0px 22px 0px;
}
.clients-content p {
  line-height: 2;
  font-family: "montserratlight";
  color: #777;
  text-align: center;
}
.clients-form {
  background-color:#f5faf8;
  padding: 30px 0px;
}
.clients-form-wrap {
  width: 70%;
  margin: 0px auto;
}




/* ------------

PAGE-downloads template Styles 

-------------- */
.downloads-content h2 {
  text-align: center;
  font-family: "montserratlight";
  color: #e87c22;
  padding: 30px 0px 22px 0px;
}

.downloads-content ul.downloads-list {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  padding-top: 40px;
}

.downloads-content ul.downloads-list li {
  position: relative;
  margin: 25px 0px;
}
.downloads-content ul.downloads-list li:first-child {
  margin-top: 0px;
}
.downloads-content ul.downloads-list li:last-child {
  margin-bottom: 0px;
}

.downloads-content ul.downloads-list li>a {
  text-align: center;
  font-size: 20px;
  font-family: "montserratregular";
  text-transform: uppercase;
  padding-left: 32px;
}
.downloads-content ul.downloads-list li>a:hover {
  text-decoration: none;
  color: #e87c22;
}
.downloads-content ul.downloads-list li span {
  font-size: 26px;
  color: #e87c22;
  position: absolute;
  bottom: 0;
  left: 0;
}





/* ------------

PAGE-terms-conditions template Styles 

-------------- */
.terms-content {
  padding-bottom: 20px;
}
.terms-content h2 {
  text-align: center;
  font-family: "montserratlight";
  color: #e87c22;
  padding: 30px 0px 22px 0px;
}
.terms-content p {
  line-height: 2;
  font-family: "montserratlight";
  color: #777;
  text-align: center;
  width: 80%;
  margin: 0px auto;
} 
.summary h4 {
   font-size: 32px;
  font-family: "montserratlight";
  text-align: center;
  color: #666;
  padding-top: 20px;
  margin-top: 20px;
}
.summary ul {
  display: block;
  margin: 0px auto;
  padding-top: 40px;
  padding-bottom: 20px;
  list-style-type: none;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}
.summary ul li {
  padding-bottom: 15px;
  color: #777;
  font-size: 13px;
  text-transform: uppercase;
}

/* Summary of Terms */
.summary {
  background-color: #f5faf8;
}

.terms-tabs {
  padding-top: 40px;
}
.terms-tabs .panel-heading {
  background-color: transparent;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
  border: none;
}
.terms-tabs .panel-group .panel {
  border: none;
  -webkit-box-shadow: none;
}
.terms-tabs .panel-group .panel:last-child {
  border-bottom: 0px;
}

.terms-tabs .panel-default {
  border-color: transparent;
}
.terms-tabs .panel-heading {
  background-color: transparent;
  border-color: transparent;
  padding-bottom: 0px;
}
.terms-tabs .panel-heading h4.panel-title {
  text-align: left;
  padding:10px 0 24px 0;
  margin: auto;
  font-size: 24px;
  border-bottom: 1px solid #e87c22;
}
.terms-tabs .panel-heading h4.panel-title a.collapsed {
  text-decoration: none;
  color: #666;
}
.terms-tabs .panel-heading h4.panel-title a {
  text-decoration: none;
  color: #e87c22;
}
/* "+" Plus symbol for Hide/Show */
.terms-tabs .panel-heading h4.panel-title a.collapsed:after {
  content: " +";
  float: right;
  font-size: 40px; 
  font-family: "montserratbold";
}
/* "-" Minus symbol for Hide/Show */
.terms-tabs .panel-heading h4.panel-title a:after {
  content: " -";
  float: right;
  font-size: 48px; 
  font-family: "montserratbold";
  line-height: 0.7;
}
.terms-tabs .panel-heading h4.panel-title>a:hover {
  text-decoration: none;
  color: #e87c22;
}







/* ------------

PAGE-privacy-policy template Styles 

-------------- */
.privacy-content h2 {
  text-align: center;
  font-family: "montserratlight";
  color: #e87c22;
  padding: 30px 0px 22px 0px;
}

.privacy-content>p {
  line-height: 2;
  font-family: "montserratlight";
  color: #777;
  text-align: center;
}

.privacy-tabs .panel-default {
  border-color: transparent;
}
.privacy-tabs .panel-heading {
  background-color: transparent;
  border-color: transparent;
  padding-bottom: 0px;
}
.privacy-tabs .panel-heading h4.panel-title {
  text-align: left;
  padding:10px 0 24px 0;
  margin: auto;
  font-size: 24px;
  border-bottom: 1px solid #e87c22;
}
.privacy-tabs .panel-heading h4.panel-title a.collapsed {
  text-decoration: none;
  color: #666;
}
.privacy-tabs .panel-heading h4.panel-title a {
  text-decoration: none;
  color: #e87c22;
}
/* "+" Plus symbol for Hide/Show */
.privacy-tabs .panel-heading h4.panel-title a.collapsed:after {
  content: " +";
  float: right;
  font-size: 40px; 
  font-family: "montserratbold";
}
/* "-" Minus symbol for Hide/Show */
.privacy-tabs .panel-heading h4.panel-title a:after {
  content: " -";
  float: right;
  font-size: 48px; 
  font-family: "montserratbold";
  line-height: 0.7;
}
.privacy-tabs .panel-heading h4.panel-title>a:hover {
  text-decoration: none;
  color: #e87c22;
}
































/* ------------

MEDIA QUERIES 

-------------- */
/* -------------------- 1200 ----------------------------*/
@media (max-width: 1200px) { 
  footer.site-footer .sub-footer-links {
    font-size: 11px;
  }

  /* Job Resources page */
  .job-tips .job-tips-tabs .panel-heading h4.panel-title {
    text-align: left;
    padding:0px 0 24px 0;
    margin: auto;
    font-size: 24px;
    border-bottom: 1px solid #e87c22;
  }
}  

/* -------------------- 992 ----------------------------*/
@media (max-width: 991px) {
  .navbar-brand > img.logo {
    display: none !important;
  }
  img.logo-mobile {
    display: block;
    padding-top: 15px;
  }
  
/*---- HEADER ----*/
  nav.navbar-default {
    height: 100px;
    background-color: #fff;
    border: none;
  }
  nav.navbar {
    margin-bottom: 0px;
  }

/* BANNER */
  section.banner .overlay {
    z-index: 2;
    width: 100%;
    position: absolute;
    top: 6%;
  }
  section.banner .overlay h2.desktop {
    color: #F4F8F6;
    font-family: "montserratlight";
    font-size: 36px;
    line-height: 1.6;
    padding-bottom: 10px;
    margin: 0px 0px;
  }
  section.banner .overlay h2.mobile-overlay {
    display: none;
  }

/* FOOTER */
  footer.site-footer .site-sub-footer {
    float: none !important;
  }
  footer.site-footer .site-sub-footer p.copyright {
    text-align: center;
  }
  footer.site-footer .sub-footer-links p {
    float: none !important;
    display: block;
  }
  
/* Map */
  section.map .map-wrap .circle-wrap {
    left: 20%;
  }
  section.map .map-wrap .counties-wrap {
    left: 58%;
  }

/* Testimonials - Page */
  .testimonial-row .circle {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.1);
    overflow: hidden;
    margin: 0px auto;
  }
  .testimonial-row .circle img {
    text-align: center;
    width: 100%;
    height: 100%;
  }
  .testimonial-row.odd p.quote {
    font-family: "montserratlight";
    font-size: 16px;
    color: #777;
    padding-bottom: 15px;
    padding-left: 20px;
    text-align: right;
  }
  .testimonial-row.even p.quote {
    font-family: "montserratlight";
    font-size: 16px;
    color: #777;
    padding-bottom: 15px;
    padding-right: 20px;
    text-align: left;
  }

/* Share Your Story */
  .share-your-story h4 {
    padding-left: 0px;
    padding-top: 0px;
  }
  .share-your-story p {
    padding-left: 0px;
  }


/* Our Services - Page */
  /* Left Column */
  .our-services-content  article {
    border-right: 1px solid rgba(0,0,0,0.1);
  }
  .our-services-content  article p {
    padding-right: 20px;
  }
  .our-services-content  article p:nth-child(1) {
    font-family: "montserratlight";
    font-size: 18px;
    color: #777;
    padding-top: 20px;
  }
  /* Orange text */
  .our-services-content  article p strong {
    font-family: "montserratlight";
    font-size: 18px;
    color: #e87c22;
  }
  /* Right Column */
  .our-services-content p.side-service:nth-child(1) {
    padding: 24px 0px 10px 0px;
    color: #777;
  }

  .our-services-content p.side-service {
    padding: 0px 0px 10px 0px;
    color: #777;
  }
}






/* -------------------- 776 ---------------------------- */
@media (max-width: 776px) {
  .navbar-header {
    height: 90px;
  }
  /* Navbar Menu Button */
  .navbar-toggle {
    margin-top: 5px;
    margin-right: 5px;
  }
  /* HIDE color Manpower symbol*/
  img.logo-mobile {
    display: none;
    padding-top: 15px;
  }
  /* SHOW small white Manpower symbol */
  img.small-symbol {
    display: block;
  }
  /* MOBILE ONLY top bar  */
  .mobile-top-bar {
    background-color: #595959;
    height: 40px;
  }
  .mobile-top-bar .container {
    padding-top: 9px;
  }
  .mobile-top-bar a >img {
    opacity: 1.0;
    transition: opacity linear 0.2s;
    -webkit-transition: opacity linear 0.2s;
  }
  .mobile-top-bar a:hover > img {
    opacity: 0.8;
  }
  .mobile-top-bar a.pull-right {
    color: #fff;
    transition: color linear 0.2s;
    -webkit-transition: color linear 0.2s;
    font-size: 16px;
  }
  .mobile-top-bar a.pull-right:hover {
    color: #6e9082;
    text-decoration: none;
  }
  
/* Mobile hide on collapse */
.navbar-default .hide-on-collapse {
  position: relative;
  overflow: visible !important;
}
.hide-on-collapse .navbar-collapse {
  position: absolute;
  top: 0px;
  width: 100%;
  border: none;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
button.x-toggle {
  background-color: transparent;
  border: none;
  padding-right: 5px;
}
button.x-toggle span {
  color: #595959;
  padding-right: 10px;
  font-size: 30px;
  transition: color linear 0.2s;
  -webkit-transition: color linear 0.2s;
}
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
  border: none;
  background-color: transparent;
}
.hide-on-collapse .btn-default:hover span {
  color: #000;
}


  /* Navbar */
  .navbar-header {
    height: 90px;
    background-color: #fff;
  }
    /* Menu Icon no border*/
    .navbar-default .navbar-toggle {
      border-color: transparent;
      margin-top: 19px;
    }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #4f4f4f;
      transition: background-color linear 0.1s;
      -webkit-transition: background-color linear 0.1s;
    }
    .navbar-toggle .icon-bar {
      height: 7px;
      width: 40px;
    }
    /* Menu icon hover */
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
      background-color: transparent;
    }
    .navbar-default .navbar-toggle:focus > .icon-bar, .navbar-default .navbar-toggle:hover > .icon-bar {
      background-color: #777;
    }
    /* Spacing between spans */
    .navbar-toggle .icon-bar+.icon-bar {
      margin-top: 6px;
    }

  /* Mobile logo menu dropdown */
  .mobile-logo {
    margin: 0px auto;
    width: 100%;
    float: none;
    background-color: rgba(255,255,255,1.0);
    padding: 24px 0px;
  }  
  .mobile-logo img {
    padding-left: 10px;
  }

    /* Navbar-collapse */
      /* hide TOP section */
      nav.navbar-default .top {
        display: none;
      } 
      ul.navbar-nav, ul.navbar-right {
        margin: 0px auto;
        width: 100%;
        float: none;
        background-color: rgba(255,255,255,1.0);
      }
      ul.navbar-nav li, ul.navbar-right li {
        padding: 10px 0px;
        border-top: 1px solid #777;
        margin: 0px 10px;
      }
      .navbar-nav>li>a {
        margin: 0px;
      }
      .navbar-nav .open .dropdown-menu {
        padding-bottom: 0px;
        margin-bottom: -10px;
      }
      .navbar-nav .open .dropdown-menu li {
        padding: 4px 0px;
      }
    /* Banner */
    section.banner img {
      height: 100%;
      width: auto;
    }
    /* Mobile Overlay Heading*/
    section.banner .overlay .center h2.desktop {
      display: none;
      padding-bottom: 10px;
    }
    section.banner .overlay .center h2.mobile-overlay {
      display: block;
      font-size: 30px;
      padding-bottom: 0px;
      margin-bottom: 0px;
    }
    section.banner .overlay .center .col-xs-12 {
      width: 70%;
      margin: 10px auto 0px auto;
      float: none;
    }
    /* Three */
    .three {
      padding-bottom: 0px;
    }
    .three .col-sm-4 {
      padding-bottom: 50px;
    }
    .three .col-sm-4 h3 {
      font-size: 22px;
      font-family: "montserratlight";
    }
/* FOOTER */
section.footer ul.site-links {
  text-align: right;
}
section.footer .portland-address {
  text-align: right;
}

  /* Our Services - Page */
  .our-services-content .narrow {

  }
  .our-services-content {
    padding: 20px 0px;
  }
    /* Left Column */
  .our-services-content  article {
    border-right: none;
  }
  .our-services-content  article p {
    padding-right: 20px;
    text-align: center;
  }
  .our-services-content  article p:nth-child(1) {
    font-family: "montserratlight";
    font-size: 22px;
    color: #777;
    padding-top: 20px;
  }
  /* Orange text */
  .our-services-content  article p strong {
    font-family: "montserratlight";
    font-size: 22px;
    color: #e87c22;
  }

  /* Right Column */
  .our-services-content p.side-service:nth-child(1) {
    padding: 24px 0px 10px 0px;
    color: #777;
    border-top: 1px solid rgba(0,0,0,0.1);
  }
  .our-services-content p.side-service {
    padding: 0px 0px 10px 0px;
    color: #777;
    text-align: center;
  }
  /* Full Service text size */
  .full-service h4 {
    font-size: 20px;
  }
  .full-service p {
    font-size: 14px;
  }

  /* Testimonials - Page */
  .testimonial-row.odd, .testimonial-row.even {
    padding: 0px 0px 20px 0px;
    margin-bottom: 20px;
  }
  .testimonial-row.odd p.text-right, .testimonial-row.even p.text-left {
    text-align: center !important;
  }
  .testimonial-row .circle {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.1);
    overflow: hidden;
    margin: 0px auto;
  }
  .testimonial-row .circle img {
    text-align: center;
    width: 100%;
    height: 100%;
  }
  .testimonial-row.odd p.quote {
    font-family: "montserratlight";
    font-size: 16px;
    color: #777;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    text-align: center;
  }
  .testimonial-row.even p.quote {
    font-family: "montserratlight";
    font-size: 16px;
    padding-top: 172px;
    padding-bottom: 15px;
    padding-right: 20px;
    text-align: center;
  }
  /* MOBILE '.EVEN' IMAGE MOVE ABOVE TEXT */
  .testimonial-row.even {
    position: relative;
  }
  .testimonial-row.even  .col-sm-3 {
    position: absolute;
    top: 0px;
    width: 100%;
    height: auto;
  }
  /* Share Your Story */
  .share-your-story .col-xs-10.narrow {
    padding-right: 0px;
  }
  .share-your-story h4 {
    padding-left: 0px;
    padding-top: 0px;
  }
  .share-your-story p {
    padding-left: 0px;
  }


  /* About Page */
  .about-content h2 {
  text-align: center;
  font-family: "montserratlight";
  color: #e87c22;
  padding: 20px 0px 20px 0px;
  }
  .about-content p {
    line-height: 1.4;
    font-family: "montserratlight";
    color: #777;
    text-align: center;
  }
    /* mpr video */
  .mpr-vid iframe {
    width: 100% !important;
  }

  /* Job Resources page */
  

  /* ------------
  PAGE-downloads template Styles 
  -------------- */

  .downloads-content ul.downloads-list {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
    list-style-type: none;
  }

}




/* 600 */
@media (max-width: 600px) {
  section.map .map-wrap .circle-wrap {
    left: 5%;
  }
}




/* 480 */
@media (max-width: 480px) {
  section.map .map-wrap .circle-wrap img {
    width: 90%;
  }
}



/* 410 */
@media (max-width: 410px) {
  section.map .map-wrap .circle-wrap h3 {
    text-align: left;
  }
  section.map .map-wrap .circle-wrap p {
    text-align: left;
    margin: 0px;
    margin-bottom: 30px;
  }
  section.map .map-wrap .circle-wrap img {
    width: 80%;
  }
}
























































/* 
-----------------------------------------------------
SIMON PADBURY DEFAULT "BST" THEME STYLES
-----------------------------------------------------
*/





/*
Max content widths
*/
.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto
}

/*
Header logo
If you require a Site title and a logo, an example of how to do this is provided below (use your own logo):

#site-title a {
  display: inline-block;
	padding-left 60px;
  background: url(../img/logo.png) 0 0 no-repeat;
}
*/

/*
Main content
*/

#content article {
  margin-bottom: 40px
}
#content header {
  margin: 20px 0
}
#content section {
  margin-bottom: 20px
}
#content footer {
  padding-bottom: 20px
}

/*
Sidebar
*/

.sidebar {
  margin-top: 20px
}
.sidebar section {
  margin-bottom: 40px
}
.sidebar ul,
.sidebar ol {
  list-style-type: none;
  padding: 0
}
.sidebar li {
  margin: 10px 0
}

/*
Hide form placeholders on focus
*/

input:focus::-webkit-input-placeholder { color: transparent; }
input:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
textarea:focus::-webkit-input-placeholder { color: transparent; }
textarea:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color: transparent; } /* FF 19+ */ 

/*
Comments
*/

#respond {
  margin-top: 40px
}
ol.commentlist {
	counter-reset: li; /* Initiate a counter */
	padding: 0
}
ol.commentlist ul {
  padding: 0
}
ol.commentlist > li {
	position: relative;
	margin: 0 0 20px 0;
	list-style: none /* Disable the normal item numbering */
}
ol.commentlist > li:before {
  content: "Thread " counter(li); /* Use the counter as content */
  counter-increment: li; /* Increment the counter by 1 */
  position:absolute;  
  top: 0;
  right: 0;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom-left-radius: 4px;
  padding: 5px 20px 5px 10px;
  color: #999
}
ol.commentlist li ol,
ol.commentlist li ul {
  list-style-type: none;
  margin: 0
}

.commentlist li li {
  background: #f8f8f8;
}
.commentlist li li li {
  background: #fff
}
.commentlist li li li li {
  background: #f8f8f8
}
.commentlist li li li li li li {
  background: #fff
}
.commentlist li {
  padding: 20px
}
.commentlist ul li {
  margin-top: 20px;
  margin-bottom: 0
}
.reply p {
  margin: 0
}

/*
Site footer
*/

.site-footer {
  padding: 40px 0
}
.site-footer ul,
.site-footer ol {
  list-style-type: none;
  padding: 0
}
.site-footer li {
  margin: 10px 0
}
.site-sub-footer p {
  text-align: center
}

.site-footer p {
  text-align: center
}
